/* Created by: Stella S
* Created on: Apr 2022
* This CSS file defines the style for index.html
* Unit3-02-HTML-VolumeTriangularPyramid
*/

body {
	background-color:	GhostWhite;
}

p {
  background-color: rgb(236, 208, 224);
  padding: 40px;
  font-size: 20pt;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

h1 {
  background-color: rgb(232, 201, 219);
}

h3 {
  background-color: rgb(242, 212, 229);
}

h2 {
  background-color: rgb(208, 164, 190);
  padding: 20px;
	text-align: center;
}

form {
  background-color: rgb(232, 191, 215);
  margin-left: 30px;
  margin-right: 30px;
}

iframe {
   background-color: rgb(243, 210, 230);
}